<h2 class ="text-primary" style="size: 10; text-align: center;">BearHouse</h2>

<p class="text-primary" style="text-align: center;">Let us help you find your next home</p>
<br>
<br>
<div style="text-align: center;" class="container">
  <div class="row">
    <div class="span12">
      <form method="get" action="/" class="form-inline">
        <input class="span5" type="text" placeholder="Rooms">
        <input class="span5" type="text" placeholder="Price">
        <button type="submit" class="btn btn-primary">Click for memes</button>
      </form>
    </div>
  </div>
</div>